body {
  background-color: white;
  color: white;
  margin: 0;
  height: 2000px;
  padding-top: 70px;
}

.app {
  height: 100%;
  background-color: white;
  padding: 0px 10px;
}

.loginContainer {
  height: 400px;
  width: 100%;
  position: relative;
}

.welcome {
  text-shadow: 2px 2px #5a5d63;
}

.igvContainer {
  background-color: white;
}

.previousIcon {
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  margin-top: 15px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}