body {
  background-color: #2196F3;
  color: white;
  margin: 0;
  height: auto;
}

.app {
  height: 100%;
  background-color: #2196F3;
  margin-left: 160px;
  padding: 0px 10px;
}

.loginContainer {
  height: 400px;
  width: 100%;
  position: relative;
}

.loginForm {
  padding: 50px;
  width: 50%;
  align-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #2196F3;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inputLabel {
  color: white;
  padding: 8px;
  margin:5px, 15px;
  border-radius: 10px;
  font-size: 20px;
  text-shadow: 1px 1px #5a5d63;
}

.btn {
  display: inline-block;
  outline: none;
  border: white 2px solid;
  margin: 10px;
  color: #2196F3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  transition-duration: 0.4s;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 3px 3px #999;
  width: 200px;
}

.btn:active {
  box-shadow: 0 0 #666;
  transform: translateY(4px);
}

.welcome {
  color: white;
  text-shadow: 2px 2px #5a5d63;
}

.input {
  color: white;
  width: 50%;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
  border: none;
  border-bottom: 2px solid white;
  background-color: #2196F3;
  
}

.input::placeholder {
  color: white;
}

.igvContainer {
  background-color: white;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #2196F3; 
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(9, 57, 145);
}

#users {
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 2px solid #ddd;
  padding: 8px;
}

#users td {
  color: black;
}

#users tr:nth-child(odd){background-color: #fff;}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(43, 108, 199);
  color: white;
}